*.opt64.i0.pr.obj
*.dev64.i0.pr.obj
*.opt32.i0.pr.obj
*.dev32.i0.pr.obj

*.opt64.i0.nt.dll
*.opt64.i0.nt.dll.manifest
*.opt64.i0.nt.exp
*.opt64.i0.nt.lib

*.pr.c
*.pr.cpp

*/*-DES-*.desinfo
*/*-DES-*.ef
*/*-DES-*.ov

*/*-DES-*.olf.dir
